<div class="user-container">
  <img class="mifaz-logo" src="../../../assets/logo/logo.png" width="150px" />
  <div class="form-container">
    <span class="form-title">Anmeldung</span>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-field-full-width" appearance="outline">
        <input matInput type="email" formControlName="mail" placeholder="Email*" />
        <mat-error *ngIf="loginForm.controls.mail.invalid"> Eingabe benötigt! </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field-full-width" appearance="outline">
        <input matInput type="password" formControlName="password" placeholder="Passwort*" />
        <mat-error *ngIf="loginForm.controls.password.invalid"> Eingabe benötigt! </mat-error>
      </mat-form-field>
      <button class="form-button" mat-flat-button type="submit">Login</button>
    </form>
    <div class="options-container">
      <span class="option" (click)="onForgotClick()">Passwort vergessen?</span>
      <span>
        Nicht registriert? Klicke
        <span class="option" (click)="onRegisterClick()">hier</span>
      </span>
    </div>
  </div>
</div>
