.header-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #00377b;
}

.header-title {
  font-size: 2.5rem;
  font-weight: 500;
  word-break: normal;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}
