<div class="outer-container">
  <div class="form-container">
    <form class="form" [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-field-full-width" appearance="outline">
        <input matInput type="password" formControlName="currentPassword" placeholder="Aktuelles Passwort*" />
        <mat-error *ngIf="updatePasswordForm.controls.currentPassword.invalid"> Eingabe benötigt! </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field-full-width" appearance="outline">
        <input matInput type="password" formControlName="newPassword" placeholder="Neues Passwort*" />
        <mat-error *ngIf="updatePasswordForm.controls.newPassword.invalid"> Eingabe benötigt! </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field-full-width" appearance="outline">
        <input matInput type="password" formControlName="newPasswordConfirmation" placeholder="Passwort bestätigen*" />
        <mat-error *ngIf="updatePasswordForm.controls.newPasswordConfirmation.invalid"> Eingabe benötigt! </mat-error>
      </mat-form-field>
      <button class="form-button" mat-flat-button type="submit">Name ändern</button>
    </form>
  </div>
</div>
