<div class="outer-container">
  <div class="form-container">
    <form class="form" [formGroup]="updateNameForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-field-full-width" appearance="outline">
        <input matInput formControlName="firstName" [placeholder]="user.firstName" />
        <mat-error *ngIf="updateNameForm.controls.firstName.invalid"> Eingabe benötigt! </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field-full-width" appearance="outline">
        <input matInput formControlName="lastName" [placeholder]="user.lastName" />
        <mat-error *ngIf="updateNameForm.controls.lastName.invalid"> Eingabe benötigt! </mat-error>
      </mat-form-field>
      <button class="form-button" mat-flat-button type="submit">Name ändern</button>
    </form>
  </div>
</div>
